.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.l-box {
  padding: 1em;
}
.text-center {
  text-align: center;
}
.expand {
  width: 100%;
}
.header {
  font-weight: 100;
  line-height: 1.5;
  color: #666;
}
.home-menu.pure-menu.pure-menu-horizontal {
  background-color: #ffd24d;
  z-index: 100;
}
#map-container {
  background: #cdcdcd;
  padding-top: 35px;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 88%;
  top: 0;
  left: 0;
  position: fixed !important;
}
#map-container .loadingContent {
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
}
#map-container.loading #map-canvas {
  opacity: 0;
}
#map-container.loading .loadingContent {
  opacity: 1;
}
#map-canvas {
  height: 100%;
  width: 100%;
}
.slider {
  -webkit-transition: top 0.25s linear -webkit-transform 0.25s linear;
  -moz-transition: top 0.25s linear -webkit-transform 0.25s linear;
  -o-transition: top 0.25s linear -webkit-transform 0.25s linear;
  transition: top 0.25s linear -webkit-transform 0.25s linear;
  position: absolute;
  padding: 30px;
  width: 100%;
  z-index: 10;
  background: #fafafa;
  top: 87%;
  min-height: 12%;
}
.slider .whenOn {
  display: none;
}
.slider .icon-minimize {
  display: none;
}
.slider .icon-maximize {
  display: initial;
}
.slider.on {
  top: 37px;
  min-height: 100%;
}
.slider.on .whenOn {
  display: initial;
}
.slider.on .whenOff {
  display: none;
}
.slider.on .icon-maximize {
  display: none;
}
.slider.on .icon-minimize {
  display: initial;
}
